<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Movie</title>
</head>

<body>

    <div class="container">
        <h3>Movie Directory</h3>
        <hr>

        <p class="h4 mb-4">Save Movie</p>

        <form action="#" th:action="@{/movie/save}"
              th:object="${movie}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <div class="form-inline">
                <input type="text" th:field="*{movieName}"
                       class="form-control mb-4 col-4" placeholder="Movie name">

                <span th:if="${#fields.hasErrors('movieName')}"
                      th:errors="*{movieName}"
                      class="badge badge-danger ml-2 mb-4"></span>
            </div>

            <div class="form-inline">

                <input type="text" th:field="*{releaseYear}"
                       class="form-control mb-4 col-4" placeholder="Release Year">

            </div>

            <div class="form-inline">

                <input type="text" th:field="*{genre}"
                       class="form-control mb-4 col-4" placeholder="Genre">

            </div>

            <div class="form-inline">

                <input type="text" th:field="*{plot}"
                       class="form-control mb-4 col-4" placeholder="Plot">

            </div>

            <div class="form-inline">

                <input type="text" th:field="*{rating}"
                       class="form-control mb-4 col-4" placeholder="Rating">

            </div>

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>
        <a th:href="@{/movie/list}">Back to Movie List</a>
    </div>
</body>

</html>